Hello

In [26]:
import pandas as pd              # Data manipulation and cleaning
import numpy as np               # Numerical operations
import matplotlib.pyplot as plt  # Data visualization
import seaborn as sns            # Advanced data visualization
from sklearn.model_selection import train_test_split  # Splitting data
from sklearn.linear_model import LinearRegression      # Linear regression model
from sklearn.metrics import mean_squared_error, r2_score  # Model evaluation

Cleaning the dataset that contains socioeconomic context of each decade. 
Many economic indicators have missing data and the years 1960-1969 does not have data on most of the indicators. These rows and columns have been removed for analysis.

In [41]:
economics_data = pd.read_csv('data_files/socioeconomic_context_Data.csv')


economics_data=economics_data.drop([2,3,4,6,8,9,10,11,12,13,14,15,16,17,18,19,20]).reset_index()

economics_data.drop(list(economics_data.columns)[0:3], axis=1, inplace=True)

economics_data.drop(list(economics_data.columns)[1:12], axis=1, inplace=True)

economics_data.drop(list(economics_data.columns)[-3:], axis=1, inplace=True)

print(economics_data.describe(include='all'))
print('\n')
print(economics_data.info())

                               Series Name     1970 [YR1970]  \
count                                    4                 4
unique                                   4                 4
top     GDP per capita (constant 2015 US$)  25231.1271579892
freq                                     1                 1
mean                                   NaN               NaN
std                                    NaN               NaN
min                                    NaN               NaN
25%                                    NaN               NaN
50%                                    NaN               NaN
75%                                    NaN               NaN
max                                    NaN               NaN

           1971 [YR1971]     1972 [YR1972]     1973 [YR1973]  \
count                  4                 4                 4
unique                 4                 4                 4
top     25734.4828350051  26798.5336071197  28042.5519161527
freq                   1                 1                 1
mean                 NaN               NaN               NaN
std                  NaN               NaN               NaN
min                  NaN               NaN               NaN
25%                  NaN               NaN               NaN
50%                  NaN               NaN               NaN
75%                  NaN               NaN               NaN
max                  NaN               NaN               NaN

           1974 [YR1974]     1975 [YR1975]     1976 [YR1976]  \
count                  4                 4                 4
unique                 4                 4                 4
top     27637.2997746126  27309.8688169354  28509.1430550141
freq                   1                 1                 1
mean                 NaN               NaN               NaN
std                  NaN               NaN               NaN
min                  NaN               NaN               NaN
25%                  NaN               NaN               NaN
50%                  NaN               NaN               NaN
75%                  NaN               NaN               NaN
max                  NaN               NaN               NaN

           1977 [YR1977]     1978 [YR1978]  ... 2012 [YR2012] 2013 [YR2013]  \
count                  4                 4  ...  4.000000e+00  4.000000e+00
unique                 4                 4  ...           NaN           NaN
top     29528.9663683544  30834.9992317542  ...           NaN           NaN
freq                   1                 1  ...           NaN           NaN
mean                 NaN               NaN  ...  3.626324e+12  3.677491e+12
std                  NaN               NaN  ...  7.252647e+12  7.354982e+12
min                  NaN               NaN  ...  1.541466e+00  1.412742e+00
25%                  NaN               NaN  ...  6.437117e+00  5.884435e+00
50%                  NaN               NaN  ...  2.704415e+04  2.742581e+04
75%                  NaN               NaN  ...  3.626324e+12  3.677491e+12
max                  NaN               NaN  ...  1.450529e+13  1.470996e+13

       2014 [YR2014] 2015 [YR2015] 2016 [YR2016] 2017 [YR2017] 2018 [YR2018]  \
count   4.000000e+00  4.000000e+00  4.000000e+00  4.000000e+00  4.000000e+00
unique           NaN           NaN           NaN           NaN           NaN
top              NaN           NaN           NaN           NaN           NaN
freq             NaN           NaN           NaN           NaN           NaN
mean    3.800669e+12  3.935304e+12  3.957023e+12  4.063373e+12  4.185085e+12
std     7.601338e+12  7.870609e+12  7.914047e+12  8.126746e+12  8.370171e+12
min     1.774700e+00  2.190431e+00  1.084257e+00  1.811476e+00  2.425877e+00
25%     5.069675e+00  4.507608e+00  3.922814e+00  3.719119e+00  3.528469e+00
50%     2.791187e+04  2.852274e+04  2.883177e+04  2.935375e+04  3.006555e+04
75%     3.800669e+12  3.935304e+12  3.957023e+12  4.063373e+12  4.185085e+12
max     1.520268e+13  1.574122e+13  1.582809e+13  1.625349e+13  1.674034e+13

           2019 [YR2019]     2020 [YR2020]     2021 [YR2021]
count                  4                 4                 4
unique                 4                 4                 4
top     61400.5481543687  59493.1459820135  62996.2893837444
freq                   1                 1                 1
mean                 NaN               NaN               NaN
std                  NaN               NaN               NaN
min                  NaN               NaN               NaN
25%                  NaN               NaN               NaN
50%                  NaN               NaN               NaN
75%                  NaN               NaN               NaN
max                  NaN               NaN               NaN

[11 rows x 53 columns]


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 53 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    4 non-null      object
 1   1970 [YR1970]  4 non-null      object
 2   1971 [YR1971]  4 non-null      object
 3   1972 [YR1972]  4 non-null      object
 4   1973 [YR1973]  4 non-null      object
 5   1974 [YR1974]  4 non-null      object
 6   1975 [YR1975]  4 non-null      object
 7   1976 [YR1976]  4 non-null      object
 8   1977 [YR1977]  4 non-null      object
 9   1978 [YR1978]  4 non-null      object
 10  1979 [YR1979]  4 non-null      object
 11  1980 [YR1980]  4 non-null      object
 12  1981 [YR1981]  4 non-null      object
 13  1982 [YR1982]  4 non-null      object
 14  1983 [YR1983]  4 non-null      object
 15  1984 [YR1984]  4 non-null      object
 16  1985 [YR1985]  4 non-null      object
 17  1986 [YR1986]  4 non-null      object
 18  1987 [YR1987]  4 non-null      object
 19  1988 [YR1988]  4 non-null      object
 20  1989 [YR1989]  4 non-null      object
 21  1990 [YR1990]  4 non-null      object
 22  1991 [YR1991]  4 non-null      object
 23  1992 [YR1992]  4 non-null      object
 24  1993 [YR1993]  4 non-null      object
 25  1994 [YR1994]  4 non-null      object
 26  1995 [YR1995]  4 non-null      object
 27  1996 [YR1996]  4 non-null      object
 28  1997 [YR1997]  4 non-null      object
 29  1998 [YR1998]  4 non-null      object
 30  1999 [YR1999]  4 non-null      object
 31  2000 [YR2000]  4 non-null      float64
 32  2001 [YR2001]  4 non-null      float64
 33  2002 [YR2002]  4 non-null      float64
 34  2003 [YR2003]  4 non-null      float64
 35  2004 [YR2004]  4 non-null      float64
 36  2005 [YR2005]  4 non-null      float64
 37  2006 [YR2006]  4 non-null      float64
 38  2007 [YR2007]  4 non-null      float64
 39  2008 [YR2008]  4 non-null      float64
 40  2009 [YR2009]  4 non-null      float64
 41  2010 [YR2010]  4 non-null      float64
 42  2011 [YR2011]  4 non-null      float64
 43  2012 [YR2012]  4 non-null      float64
 44  2013 [YR2013]  4 non-null      float64
 45  2014 [YR2014]  4 non-null      float64
 46  2015 [YR2015]  4 non-null      float64
 47  2016 [YR2016]  4 non-null      float64
 48  2017 [YR2017]  4 non-null      float64
 49  2018 [YR2018]  4 non-null      float64
 50  2019 [YR2019]  4 non-null      object
 51  2020 [YR2020]  4 non-null      object
 52  2021 [YR2021]  4 non-null      object
dtypes: float64(19), object(34)
memory usage: 1.8+ KB
None